$color-white: #FFFFFF;
$color-grey-05: #F5F5F5;
$color-grey-10: #E5E5E5;
$color-grey-15: #D9DADB;
$color-grey-30: #BCBFC2;  
$color-grey-50: #939699;
$color-grey-85: #4B5157;
$color-grey-95: #30363D;
$color-grey-100: #262D33;

$color-blue-25: #C5E4FC;
$color-blue-75: #4592FF;
$color-red: #EB5757;
$color-red-75: #FF4F52;
$color-purple-75: #AC8EE3;
$color-orange-75: #FFA34D;
$color-green-75: #3DC47E;
$color-greyblue-25: #D1E2EB;
$color-greyblue-50: #B4D1E0;
$color-greyblue-75: #6E99AE;
$color-bluegreen-75: #3BBDC4;

// Цифры указывают на степень насыщенности цвета, по возрастанию: от светлого к темному. Значения взяты из макета.