$color-white: #FFFFFF;
$color-grey-15: #D9DADB;
$color-grey-30: #BCBFC2;  
$color-grey-50: #939699;
$color-grey-85: #4B5157;
$color-grey-100: #262D33;

$color-blue-75: #4592FF;

// Цифры указывают на степень насыщенности цвета, по возрастанию: от светлого к темному. Значения взяты из макета.