.container {
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: $netbook) {
        max-width: 960px;
    }

    @media (max-width: $tablet) {
        max-width: 720px;
    }

    @media (max-width: $small) {
        padding: $container-size;
    }
}

.btn {
    font-family: $text-font;
    font-size: 14px;
    line-height: 20px;
    color: $color-white;
    background-color: $color-blue-75;
    border-radius: 20px;
    padding: 10px 29px;
}

.h1 {
    font-family: $title-font;
    font-size: 55px;
    line-height: 70px;
}

.h2 {
    font-family: $title-font;
    font-size: 40px;
    line-height: 50px;
    color: $color-grey-100;
}

.h3 {
    font-family: $title-font;
    font-size: 25px;
    line-height: 30px;
}

.h4 {
    font-family: $title-font;
    font-size: 20px;
    line-height: 25px;
}

.h5 {
    font-family: $title-font;
    font-size: 16px;
    line-height: 25px;
}

.h6 {
    font-family: $text-font;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;

    @media (max-width: $x-small) {
        font-size: 12px;
        line-height: 15px;
    }
}

.medium-text {
    font-family: $text-font;
    font-size: 18px;
    line-height: 30px;
    color: $color-grey-85;
}

.small-text {
    font-family: $text-font;
    font-size: 14px;
    line-height: 20px;
    color: $color-grey-85;

    &--bold {
        color: $color-grey-100;
        font-weight: 700;
    }
}

.tiny-text {
    font-family: $text-font;
    font-size: 12px;
    line-height: 15px;
    color: $color-grey-50;
}
