.container {
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: $netbook) {
        max-width: 960px;
    }

    @media (max-width: $tablet) {
        max-width: 720px;
    }

    @media (max-width: $small) {
        padding: $container-size;
    }
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: $text-font;
    font-size: 14px;
    line-height: 20px;
    color: $color-white;
    background-color: $color-blue-75;
    border-radius: 20px;
    padding: 10px 29px;
}

.preview {
    background: $color-white;
    border-radius: 10px;
}

.avatar {
    width: 45px;
}

.h1 {
    font-family: $title-font;
    font-size: 55px;
    line-height: 70px;
}

.h2 {
    font-family: $title-font;
    font-size: 40px;
    line-height: 50px;
    color: $color-grey-100;

    @media (max-width: $x-small) {
        font-size: 25px;
        line-height: 30px;
    }
}

.h3 {
    font-family: $title-font;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $color-grey-100;
}

.h4 {
    font-family: $title-font;
    font-size: 20px;
    line-height: 25px;
}

.h5 {
    font-family: $title-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: $color-grey-100;
}

.h6 {
    font-family: $text-font;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;

    @media (max-width: $x-small) {
        font-size: 12px;
        line-height: 15px;
    }
}

.medium-text {
    font-family: $text-font;
    font-size: 18px;
    line-height: 30px;
    color: $color-grey-85;
}

.small-text {
    font-family: $text-font;
    font-size: 14px;
    line-height: 20px;
    color: $color-grey-85;

    &--bold {
        color: $color-grey-100;
        font-weight: 700;
    }

    &--white {
        color: $color-white;
    }
}

.tiny-text {
    font-family: $text-font;
    font-size: 12px;
    line-height: 15px;
    color: $color-grey-50;

    &--white {
        color: $color-white;
    }

    &--upper {
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

.food, .health {
    color: $color-bluegreen-75;
}

.cars {
    color: $color-greyblue-75;
}

.movies, .art {
    color: $color-purple-75;
}

.nfl {
    color: $color-orange-75;
}

.tech {
    color: $color-green-75;
}

.flights {
    color: $color-blue-75;
}

.science {
    color: $color-red-75;
}