main {
    
    .hero {
        padding-top: 30px;
        margin-bottom: 60px;
    
        &__bar {
            display: flex;
            justify-content: space-between;
            background: $color-grey-95;
            padding: 25px 0 30px;
            margin-bottom: 30px;
        }
    
        &__bar-item {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 0 25px;
            border-right: 1px solid $color-grey-85;
        }
    
        &__bar-link {
            color: $color-white;
        }
    
        &__bar-img {
            width: 65px;
        }
    
        &__top-post {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            overflow: hidden;
            margin-bottom: 30px;
        }
    
        &__dest {
            grid-column: span 3;
            background: url('../../img/hero/rectangle.png'); 
            background-size: cover;
            padding: 55px 55px 0;
        }
    
        &__flex-wrap {
            display: flex;
            flex-direction: column;
        }
    
        &__dest-tag {
            margin: 145px 0 25px;
        }
    
        &__dest-title {
            color: $color-white;
            max-width: 598px;
            padding-bottom: 40px;
        }
    
        &__more {
            display: flex;
            align-items: center;
            gap: 30px;
            padding-bottom: 100px;
        }
    
        &__play {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    
        &__rec {
            display: grid;
            grid-template-rows: 60px repeat(5, 1fr);
        }
    
        &__rec-title {
            padding: 20px 25px;
        }
    
        &__rec-item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            grid-row: span 1;
            padding: 17px 25px 20px;
            border-top: 1px solid $color-grey-15;
        }
    
        &__grid-wrap {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr); 
        }
    
        &__cars {
            grid-area: span 2/span 2;    
            overflow: hidden; 
        }
    
        &__cars-content {
            background-image: url('../../img/hero/car.png'); 
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
            padding: 35px 35px 0; 
            border-bottom: 1px solid $color-grey-15;
        }
        
        &__cars-tag {
            padding-bottom: 20px;
        }
    
        &__cars-title {
            max-width: 238px;
            margin-bottom: 25px;
        }
    
        &__cars-text {
            max-width: 228px;
            padding-bottom: 49px;
        }
    
        &__cars-author {
            display: flex;
            gap: 15px;
            padding: 13px 35px;
        }
    
        &__author-ava {
            width: 30px;
            padding-left: -5px;
        }
    
        &__art {
            display: flex;
            flex-direction: column;
            grid-area: span 2/span 1;
            background: url('../../img/hero/tattoo.jpg'); 
            background-size: cover;
            padding: 18px 18px 25px;
        }
    
        &__popular-tag {
            width: 66px;
            background: $color-green-75;
            border-radius: 3px;
            padding: 5px 12px;
            margin-bottom: 117px;
        }

        &__art-tag {
            margin-bottom: 10px;
        }
    
        &__art-title {
            margin-bottom: 15px;
        }

        &__art-link {
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $color-white;
        }
    
        &__columns {
            grid-area: span 4/span 1;
            background-color: $color-greyblue-75;
            padding: 20px 25px 0 35px;    
        }
    
        &__columns-title {
            color: $color-white;
            text-align: center;
            padding-bottom: 19px; 
        }
    
        &__columns-item {
            position: relative;
            max-width: 203px;
            padding: 39px 0 45px;   
        }
    
        &__columns-quotes {
            color: $color-white;
            margin-bottom: 15px;
        }
    
        &__columns-more {
            text-align: center;
            margin: 11px auto 14px;
        }
    
        &__cats {
            grid-area: span 2/span 1;
            overflow: hidden;
        }
    
        &__cat-img {
            max-width: 263px;
            margin-bottom: 15px;
        }
    
        &__cat-title {
            padding: 0 25px 30px;
        }
    }     

    .banner {
        background: url('../../img/banner.jpg');
        background-size: cover;
        margin-bottom: 60px;
    
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__title {
            color: $color-white;
            max-width: 700px;
            text-align: center;
            margin: 50px auto 25px;
        }
    
        &__read-btn {
            margin-bottom: 55px;
        }
    }

    .topics {
        &__container {
            padding-bottom: 60px;
        }

        &__list {
            max-width: 848px;
        }

        &__item {
            display: flex;
            gap: 25px;
            padding: 25px 0;
            margin: 0 25px;
            border-bottom: 1px solid $color-grey-15;

            &:last-child {
                border-bottom: none;
            }
        }

        &__img {
            max-width: 336px;
        }

        &__item-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        &__tag-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }

        &__item-title {
            margin-bottom: 10px;
        }

        &__item-text {
            margin-bottom: 20px;
        }
    }

    .hot {
        background: $color-grey-100;
    
        &__container {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr); 
            padding: 60px auto;
        }
    
        &__careers {
            grid-area: span 2/span 2; 
            background-color: $color-greyblue-50;  
            background-image: url('../../img/hot/girl.png'); 
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain; 
            overflow: hidden; 
    
        }
    }
}