.proposed {
    background: $color-grey-100;
    padding: 60px 0;

    &__container {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr); 
    }

    &__hot {
        grid-area: span 3/span 2;
        background-image: url('../../img/proposed/boat.jpg');
        background-size: cover; 
        overflow: hidden;
    }

    &__careers {
        grid-area: span 2/span 2; 
        background-color: $color-greyblue-50;  
        background-image: url('../../img/proposed/girl.png'); 
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain; 
        overflow: hidden; 
    }
}