.hot {
    background: $color-grey-100;

    &__container {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr); 
    }

    &__careers {
        grid-area: span 2/span 2; 
        background-color: $color-greyblue-50;  
        background-image: url('../img/hot/girl.png'); 
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain; 
        overflow: hidden; 
    }
}